.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
}

.calculator {
  padding: 20px;
  border-radius: 10px;
  background-color: black;
}

form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 23px;
  background-color: rgba(110, 110, 110, 0.697);
  margin: 2px;
  border-radius: 100px;
  color: white;
  font-weight:500;
  cursor: pointer;
}
form input[type='button']:hover {
  background-color: gray;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: rgba(229, 229, 229, 0.574);
}
form input.equal {
  width: 123px;
  background-color: orange;
}
form input.equal:hover {
  background-color: rgb(214, 214, 214) !important;
}

form .right_cal{
  background-color: orange;
}

form .right_cal:hover{
  background-color: rgb(214, 214, 214) !important;
}
.text-h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: rgb(163, 163, 163);
}

